@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Customize Error Page";
}
<div style=" padding: 20px; color:red">
    <h3>
        Customized By Default Error Page:
    </h3>
    <h4>
        Sorry, an error occurred while processing your request
    </h4>
    <br />
    <br />
</div>